<h3>Add stories</h3>

<div class="row">
  <form action="/stories" method="post" class="col s12">
    <div class="row">
      <div class="input-field">
        <input type="text" id="title" name="Title" />
        <label for="title">Title</label>
      </div>
    </div>
    <div class="row">
      <div class="input-field">
        <select name="status" id="status">
          <option value="public">selected : public</option>
          <option value="private"> private</option>
        </select>
        <label for="status">Status of the post</label>
      </div>
    </div>

    <div class="row">
      <div class="input-field">
        <h5>Tell us your story </h5>
        <textarea name="body" id="body"></textarea>
      </div>
    </div>

    <div class="row">
      <input type="button" value="Save" class="btn" />
      <a href="/dashboard" class="btn red-4">Cancel</a>
    </div>
  </form>

</div>